<div id="dcacheHeaderContainer">
     <div id="dcacheSearch">
      <form method="get" action="/search/">
       <div>
        <h2 class="dcacheBlockHide"><label for="q">Search</label></h2>
        <input id="q" name="q" type="text" size="20" maxlength="255" onfocus="if( this.value==this.defaultValue ) this.value='';" value="Search" accesskey="s" /><input name="a" type="hidden" value="1"/><input id="submit" name="submit" type="submit" value="Search" />
       </div>
      </form>
      <h2 class="dcacheBlockHide">Peripheral Links</h2>
      <div id="dcacheSearchNav">
       <ul id="dcacheSearchNavList">
        <li>
          <a href="{{site.baseurl}}/privacy">Privacy</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/trademarks">Trademarks</a>
        </li>
       </ul>
      </div>
     </div>
	 <div id="dcacheHeader">
	  </br><center> <h1> dCache, Your home for data storage</h1>  </center>
	  <div id="dcacheHeaderLogoRight">
	   <a href="/"><img width="40" height="40" alt="dCache.org" src="{{site.baseurl}}/images/dCache.png" /></a>
	  </div>
	 </div> <!-- dcacheHeader -->

	 <div id="dcacheTopNav">
	  <div id="dcacheTopNavLeft"><img width="7" style="height: 100%;" alt="" src="{{site.baseurl}}/images/nav_lft.png" /></div>
	  <div id="dcacheTopNavRight"><img width="7" style="height: 100%;" alt="" src="{{site.baseurl}}/images/nav_rgt.png" /></div>
	  <ul id="dcacheTopNavList">
	   <li><a href="{{site.baseurl}}/" title="Home">Home</a></li>
           <li><a href="{{site.baseurl}}/news" title="News">News</a></li>
	   <li><a href="{{site.baseurl}}/downloads" title="Download">Download</a></li>
	   <li><a href="{{site.baseurl}}/docs/" title="Documentation">Documentation</a></li>
	   <li><a href="{{site.baseurl}}/about" title="About">About</a></li>
           <li><a href="{{site.baseurl}}/faq" title="FAQ">FAQ</a></li>
	  </ul>
	 </div> <!-- dcacheTopNav -->
	</div> <!-- dcacheHeaderContainer -->
