
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" dir="ltr">


<head>
  <title>dCache: An advanced open source Storage system</title>
  <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />

  <meta name="description" content="The official site for dCache" />
 
  <meta name="copyright" content="dCache.org" />
 <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="dCache News" href="https://www.dcache.org/news.rss" />
  <link rel="alternate" type="application/rss+xml" title="dCache Events" href="https://www.dcache.org/events.rss" />
  

 </head>
